:root{
	--PrimaryNavy: rgb(21,22,29);
	--SecondaryNavy: rgba(30, 31, 41, 1);
	--Green: rgb(35,164,85);
	--Orange: rgb(242,85,42);
	--LightBlue: rgb(88,135,245);
	--White: rgb(255,255,255);
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	line-height:1;
}

body{
	line-height:0;
	background-color: rgba(245,245,245,1);
	background-size: auto 100%;
	background-attachment: fixed;
	background-position: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1em;
  font-weight: 400;
}

body:-webkit-scrollbar-track, body>*:-webkit-scrollbar-track {
	background-color: transparent;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
	background-color: rgb(30,40,30);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover, textarea::-webkit-scrollbar-thumb:hover {
	background-color: rgb(25,35,25);
}

body::-webkit-scrollbar-thumb:active, textarea::-webkit-scrollbar-thumb:active {
	background-color: rgb(15,25,15);
}

body::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
	background-color: rgba(0,0,0,0);
	visibility: hidden;
}

body::-webkit-scrollbar:hover, textarea::-webkit-scrollbar:hover {
	visibility: visible;
}

body > *{
	line-height:1;
}

.teaser-container{
  background-image: url('/Files/Images/MainBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 90vh
}

.teaser-block{
  height: 90vh;
  padding-top: 135px;
  background-color: rgba(30, 31, 41, 0.7);
}

.main-title{
  font-size: 50px;
  color: white;
  font-family: 'titillium-semibold',Arial,sans-serif;
}

.main-subtitle{
  font-size: 15px;
  display: block;
  color: white;
  font-family: 'titillium-semibold',Arial,sans-serif;
  margin-bottom: 135px;
}

.print-cv>.btn-primary{
  border-radius: 15px;
}

.main-contact{
  color: white;
}

.NavBar{
  background-color: rgb(255,255,255);
  max-height: 10vh;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.NavBar>.row{
	max-width: 100%;
}

.menu-left{
  float: right;
	overflow: hidden;
}

.menu-right{
  float: left;
	overflow: hidden;
}

.menu-left>.nav-item, .menu-right>.nav-item{
  display: inline-block;
}

.menu-left>.nav-item>.nav-link, .menu-right>.nav-item>.nav-link{
  font-size: 12px;
  padding: 4vh;
  color: rgb(30, 40, 50);
  font-weight: bold;
}

.menu-left>.nav-item>.nav-link>span, .menu-right>.nav-item>.nav-link>span{
  color: rgb(0, 123, 255);
}

.DropdownMenu{
	padding: 3vh;
}

.ProfilePhotoContainer{
  width: 100%;
  position: absolute;
  top: -60px;
}

.ProfilePhoto{
  width: 100%;
  min-width: 120px;
  max-width: 180px;
  border-radius: 50%;
  border: solid white 5px;
}

.MobileMenuContainer{
	margin-top: 10vh;
	width: 100%;
	z-index: 1000;
}

.MobileMenu{
	padding: 0px !important;
}

#MobileMenu{
	background-color: white;
}

.MobileMenuList{
	padding: 8px 16px !important;
}

.MobileMenuList>.MobileMenuListOption>a{
	color: rgb(30, 40, 50);
	padding: 2vh !important;
}

.MobileMenuList>.MobileMenuListOption>a:hover{
	background-color: rgb(200, 200, 200);
}

.AboutMe{
	min-height: 90vh;
}

.Block{
	padding-top: 10vh;
}

.Block>*{
	font-family: "OpenSansLight",Arial,sans-serif;
}

.ResumeText{
	line-height: 1.5 !important;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
}

.SkillItem{
	font-size: 20px;
	margin-right: 15px;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.1);
}

.DownloadButton{
	border-radius: 15px;
}

.DownloadButton>span{
	font-weight: bold;
	font-size: 15px;
}

.SocialMedia{
	font-size: 20px;
}

.SocialMedia>a:hover{
	text-decoration: none;
}

#Carousel{
	height: 50vh;
	min-height: 50vh;
	background: url('../../Files/Images/Carousel1Background.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.carousel-inner{
	background-color: rgba(0, 0, 0, 0.75);
}

.carousel-inner, .carousel-item{
	height: 100%;
}
